/*

OneTel Template

http://www.templatemo.com/tm-468-onetel

*/

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Exo", sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area {
    background: #150032;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #2c1946;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* ------------------------------------------------------------------- */

body {
    background: #150032;
    color: #808080;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}


/* heading section */

h1,
h2,
h3,
h4 {
    color: #fff;
    font-weight: bold;
}

h1,
h2 {
    font-size: 30px;
}


/* button section */


/*
.email {
    margin-top: 10px;
    padding: 8px 12px;
}
 */


/* navigation */

.navbar-default {
    background: #0b0019;
    border: none;
    border-left: 6px solid #0b0019;
    padding-right: 40px;
    margin: 0 !important;
    position: relative;
    top: 20px;
}


/* home section */

#home {
    background: url("../images/ff.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 500px;
    padding-top: 180px;
    padding-bottom: 100px;
}

#home h1,
#home h3 {
    line-height: 30px;
    font-size: 40px;
}


/* divider section */

.divider {
    color: #fff;
    text-align: center;
}

.divider .fa {
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 76px;
    text-transform: capitalize;
}

.divider h2 {
    padding-bottom: 4px;
}

.divider .divider-wrapper {
    padding: 40px 20px 40px 20px;
    position: relative;
    bottom: 40px;
    transition: all 0.4s ease-in;
}

.divider .divider-wrapper:hover {
    bottom: 60px;
    cursor: pointer;
}

.divider .divider-one {
    background: #0b0019;
    box-shadow: 4px 3px 8px 1px #321b53;
    -webkit-box-shadow: 4px 3px 8px 1px #321b53;
}

.divider .divider-two {
    background: #0b0019;
    box-shadow: 4px 3px 8px 1px #321b53;
    -webkit-box-shadow: 4px 3px 8px 1px #321b53;
}

.divider .divider-three {
    background: #0b0019;
    box-shadow: 4px 3px 8px 1px #321b53;
    -webkit-box-shadow: 4px 3px 8px 1px #321b53;
}